@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  color: aliceblue;
  font-family: 'Oswald', sans-serif;
}

body{
  min-height: 100vh;
  
}

.app{
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  min-width: 45%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 166, 0, 0.253);
  padding: 2rem;
  border-radius: 1rem;
}

.contagem-regressiva{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 200px;
  gap: 2rem;
}
